<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Scattergories</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
  <script> document.body.style.backgroundColor = "#cc3333"; </script>
  <header>
    <div class="container">
      <h1>Jaques Scattergories</h1>
    </div>
  </header>

  <button class="start" onclick="location.href = '/mode';">Start Game</button>
  <p class="signature"> Created by ~Yours Truly~</p>
  
</body>
</html>
